*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
    background: #131417;
    color: #ffffff;
}
/*scroll-to-top*/
.back-to-top{
    position: fixed;
    right: 0.3rem;
    bottom: 1rem;
    border-radius: 100%;
    background: #141c38;
    padding: 0.5rem;
    border: none;
    cursor: pointer;
    opacity: 100%;
    transition: opacity 0.5s;
}
.back-to-top-icon{
    width: 2rem;
    height: 2rem;
    color: #ffffff;
}
.hidden{
    opacity: 0%;
}
/*/////////////////////////////*/

/*loader*/

/*pregress-bar*/
.progress-bar{
    height: 0.5rem;
    background: linear-gradient(100deg, rgb(233, 229, 2), rgb(247, 69, 15));
    position: fixed;
    top: 0;
    left: 0;
}

.contenedor {
	background-color: /*#bbcea8*/ /*#95e6cb*/ #2c303a;
	width: 90%;
	max-width: 1200px;
	margin: 15px auto;
	padding: 20px;
	border-radius: 10px;
}

#header p{
    text-align: center;
    font-weight: bold;
}

#vh{
    height: 105vh;
}

#rf {
    text-align: center;
}

#perfil {
    
}

/*redsocial*/
.ft-social {
    text-align: center;
}
  
.ft-social-list {
    display: flex;
    justify-content: center;
    list-style-type: none;
}
  
.ft-social-list li {
    margin: 1rem;
    font-size: 1.5rem;
}

.ft-social-list li a{
    text-decoration: none;
    color: #ffffff;    
}

.button{
    text-align: center;
    margin: 15px;
}

#button-back{
    width: 45px;
}

/*media-escritorio*/
@media all and ( min-width: 670px){
    #bnnr img{
        width: 100px;
    }

    #rf{
        text-align: right;
    }

    #header p{
        font-size: 0.8rem;
    }

    #perfil p{
        font-size: ;
    }
}